body {
  background-color: #cee2ed;
  font-family: sans-serif, "Poppins";
}

.navbar {
  background-color: #04313d;
  padding: 20px;
  color: white;
  text-align: center;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.navbar .buttons {
  margin-top: 10px;
}

.navbar button {
  background-color: white;
  color: #04313d;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
}
.todo-form {
  color: aliceblue;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #04313d;
  border-radius: 15px;
  background-color: #04313d;
}

.todo-form input,
.todo-form textarea {
  font-weight: 500;
  display: block;
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #7b7d7d;
  border-radius: 15px;
}

.todo-form button {
  background-color: #04313d;
  color: white;
  border: 1px solid #7b7d7d;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.todo-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

.todo-table th,
.todo-table td {
  border: 1px solid #04313d;
  padding: 10px;
  text-align: left;
}

.todo-table th {
  background-color: #04313d;
  color: white;
}

.footer {
  background-color: #04313d;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
